* {
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

li {
    padding-left: 50px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.grid {
    flex: 1;
}

#twee {
    flex: 2;
}