* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}


/* NAVIGATIE */

header nav ul {
    padding: 1em;
    background-color: black;
    display: inline-block;
  }

header nav ul li {
    background-color: black;
  }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    background-color: black;
    text-decoration: none;
    color: white;
  }

/* BODY  */

button {
    cursor: pointer;
}

p {
    color: black !important; 
}

/* FIRST SECTION */

section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0,1em;
}

h3 {
    color: white;
    font-size: 2.5em;
}

button {
    background-color: white;
    border: none;
    padding: 0.5em 1.5em 0.5em 1.5em;
}

#firsttxt {
    position: absolute;
    bottom: 8em;
    left: 3em;
}

#firstbtn {
    position: absolute;
    bottom: 20em;
    left: 9.2em;
}

#secondtxt {
    position: absolute;
    bottom: 8em;
    left: 29em;
}

#secondbtn {
    position: absolute;
    bottom: 20em;
    left: 87.2em;
}


/* SECOND SECTION */

#IGsection {
    display: inline-block;
}

.IG {
    width: 15em;
}

#helft {
    background-color: black;
}

.helft {
    display: inline-block;
}

#kleinrood {
    font-size: 1em;
    color: red;
}

.redbtn {
    background-color: red;
    color: white;
}

p:first-of-type {
    color: white;
}

/* THIRD SECTION */

#instabtn {
    background-color: none;
    border: 1px solid black;
}

.h3black {
    color: black;
    text-align: center;
}

#BrandGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
}

#CottonClub {
    background-image: url(../images/Cotton\ Club.jpg);
    height: 495px;
    width: 382px;
}

#SevenSisters {
    background-image: url(../images/Seven\ Sisters.jpg);
    height: 495px;
    width: 382px;
}

#MeltingStockholm {
    background-image: url(../images/Melting\ Stockholm.jpg);
    height: 495px;
    width: 382px;
}

#Revelation {
    background-image: url(../images/Revelation.jpg);
    height: 495px;
    width: 382px;
}

#BienBleu {
    background-image: url(../images/Bien\ bleu.jpg);
    height: 495px;
    width: 382px;
}

#Hallinger {
    background-image: url(../images/Hallinger.jpg);
    height: 495px;
    width: 766px;
    grid-column-start: 1;
    grid-column-end: 3;
}

#LostMinds {
    background-image: url(../images/Lost\ Minds.jpg);
    height: 495px;
    width: 382px;
}

#DailyAesthetikz {
    background-image: url(../images/Daily\ Aesthetikz.jpg);
    height: 495px;
    width: 382px;
}

#AntiBlue {
    background-image: url(../images/Anti\ Blue.jpg);
    height: 495px;
    width: 382px;
}
/* FOOTER */
